<div class="fullscreen {{ animationState == 0 ? 'hidden' : ''}}">
    <div class="container" [@zoomInOut]="animationState">
        <div class="head">
            <img src="assets/me.jpeg" draggable="false" class="noselect profile-image">
            <h3>About Me</h3>
        </div>
        <p class="noselect">Hi, my name is Grant Gupton! I'm a mobile developer working at Prometheus Group in Raleigh, NC. I am a graduate from North Carolina State University in Raleigh, NC with a degree in Computer Science and minor in French. My passion is solving problems using technology and helping others do the same!
            <br>
            <br>
            A large portion of my past work experience includes web development ranging from short-term internships to long-term freelance jobs. The rest includes my favorite type of work, mobile development. Here, I have maintained projects as freelance jobs to help companies debug software issues as well as administrative issues with deployment.
            <br>
            <br>
            As I mentioned, I love building apps for mobile devices. I have a mobile app deployed to Android and iOS app stores designed and developed for one of my favorite hobbies, working out. This project encompasses not only cross platform software development, but also project management, DevOps, CI/CD, and unit and system testing to complete the software development lifecycle. 
            <br>
            <br>
            Aside from my software development experience, I spend a lot of time practicing my French. In the summer of 2022, I studied abroad in France to expand my cultural understanding and improve my French language skills. From then, I decided to add the French minor to take more courses and complete the minor curriculum.
            <br>
            <br>
            Currently, I am looking for full-time positions in software development, and where I work best is frontend web and mobile development. An ideal team I would work with is collaborative, driven, communicates effectively, and can also enjoy each other's company. I'm excited to graduate and move forward into the next chapter of my career!<div class="flex right">
            <app-button class="button" content="Close" [inverted]="true" (click)="hidePopup()"></app-button>
        </div>
    </div>
</div>

