<app-nav-bar></app-nav-bar>

<div class="content noselect">
    <h1>Smartwatch Apps</h1>
    <div class="inner-content">
        <div>
            <h2>Smartwatch apps and watchfaces available for Garmin and Fitbit watches.</h2>
            <a href="https://apps.garmin.com/en-US/developer/f45727a7-6b3b-403e-87e1-d27d70492cba/apps">Garmin</a>
            <br>
            <br>
            <a href="https://gallery.fitbit.com/developer/b1c2faaf-c670-473f-9144-e73fab55fae7">Fitbit</a>
            <br>
            <app-smartwatch-app></app-smartwatch-app>
        </div>
    </div>
</div>
