<app-nav-bar></app-nav-bar>

<div class="content noselect">
    <h1><i>ENDURE</i></h1>
    <div class="inner-content">
        <div>
            <h2>Endure a tough workout using the app that tracks your muscle goals week to week. Create workouts based on each part of each muscle to optimize growth. An analysis page breaks down what muscles need to be worked out for the week so that you can always stay on track.</h2>
            <p>Mobile app is available now on:</p>
            <a href="https://apps.apple.com/us/app/endure-fitness/id1554217228"><img class="app-store-button apple" src="assets/app-store-black.svg"></a>
            <br>
            <a href='https://play.google.com/store/apps/details?id=solutions.techmed.Endure&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="app-store-button" alt='Get it on Google Play' draggable="false" src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>
        </div>
        <div style="width: 40px;"></div>
        <img class="app-image" draggable="false" src="/assets/endure/home_dark.png">
    </div>
</div>

<app-endure-footer></app-endure-footer>