<!-- Nav -->
<app-nav-bar [isHome]="false"></app-nav-bar>

<div class="content">
    <h1>Work Experience</h1>
    <p>My professional work experience ranges from mobile app development to web development
        to giving back by teaching kids to code.</p>

    <div class="accordion">
        <div class="accordion-item" *ngFor="let item of items; let index = index;">
            <div class="accordion-item-header" (click)="toggleAccordionTab(index)">
                <span class="accordion-header-label-toggle noselect">{{ animationState[index] ? '-' : '+' }}</span>
                <h3 class="accordion-header-label-text noselect">
                    {{ item.jobTitle }}
                </h3>
            </div>
            <div class="accordion-item-body" [@slideInOut]="animationState[index]">
                <ul class="accordion-item-body-text noselect">
                    <li class="accordion-item-body-text-item noselect" *ngFor="let li of item.description">
                        {{ li }}</li>
                </ul>
                <div class="accordion-item-body-tools">
                    <div class="accordion-item-body-tool-item noselect" *ngFor="let tool of item.tools">
                        {{ tool }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>