<nav class="mobile-nav">
    <app-button class="slideInAnimation" href="https://www.linkedin.com/in/grant-gupton/details/experience/" target="_blank" [content]="'Work Experience'" [inverted]="true"
        [fullWidth]="true"></app-button>
    <app-button class="slideInAnimation" href="https://www.linkedin.com/in/grant-gupton/details/projects/" target="_blank" [content]="'Projects'" [inverted]="true"
        [fullWidth]="true"></app-button>
    <app-button class="slideInAnimation" routerLink="/contact" [content]="'Contact'" [inverted]="true" [special]="true"
        [fullWidth]="true"></app-button>
</nav>