<nav class="mobile-nav">
    <app-button *ngIf="!isHome" class="slideInAnimation" routerLink="/" target="_blank" [content]="'Home'" [inverted]="true"
        [fullWidth]="true"></app-button>
    <app-button class="slideInAnimation" routerLink="/experiences" target="_blank" [content]="'Work Experience'" [inverted]="true"
        [fullWidth]="true"></app-button>
    <app-button class="slideInAnimation" routerLink="/projects" [content]="'Projects'" [inverted]="true"
        [fullWidth]="true"></app-button>
    <app-button class="slideInAnimation" routerLink="/contact" [content]="'Contact'" [inverted]="true" [special]="true"
        [fullWidth]="true"></app-button>
</nav>