<!-- Nav -->
<app-nav-bar [isHome]="false"></app-nav-bar>

<div class="content slideInAnimation">
    <h1>Contact Me</h1>
    <app-button content="LinkedIn" [inverted]="true" [fullWidth]="true" href="https://www.linkedin.com/in/grant-gupton/" target="_blank"></app-button>
    <app-button content="Email: ghgupton@ncsu.edu" [inverted]="true" [fullWidth]="true" href="mailto:ghgupton@ncsu.edu"></app-button>
    <app-button content="GitHub" [inverted]="true" [fullWidth]="true" [special]="true" href="https://github.com/grantg2020" target="_blank"></app-button>
    <app-button content="</> Source Code" [fullWidth]="true" href="https://github.com/grantg2020/grantgupton-angular" target="_blank"></app-button>

    <div class="">
    </div>
</div>