@icon-size: 32px;

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .icon {
        width: @icon-size;
        height: @icon-size;
    }

    .slideshow {
        .screenshot {
            width: 100px;
        }
    }

}
.divider {
    height: 1px;
    width: 100%;
    background-color: grey;
}