<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grant Gupton</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anuphan">
</head>

<body>
  <!-- Center content -->
  <router-outlet></router-outlet>

  <!-- Background items -->
  <div class="noselect background-items">
    <img src="assets/left-wave.png" draggable="false" class="top-left-item">
    <img src="assets/right-wave.png" draggable="false" class="bottom-right-item">
  </div>
</body>

</html>