<nav class="nav-bar {{ isHome ? 'fadeInAnimation' : ''}}">
    <div class="left">
        <app-button routerLink="/" *ngIf="!isHome" [content]="'Home'"></app-button>
        <app-button href="https://www.linkedin.com/in/grant-gupton/details/experience/" target="_blank" [content]="'Work Experience'"></app-button>
        <app-button href="https://www.linkedin.com/in/grant-gupton/details/projects/" target="_blank" [content]="'Projects'"></app-button>
    </div>
    <div class="right">
        <app-button routerLink="/contact" [inverted]="true" [content]="'Contact'"></app-button>
    </div>
</nav>