<div class="toggle fadeInAnimation" cursor="pointer" (click)="toggle()" [ngStyle]="{opacity: isShowing ? '0%' : '100%'}">
    <mat-icon aria-hidden="false" cursor="pointer" aria-label="menu button" fontIcon="menu"></mat-icon>
</div>
<div class="fullscreenPopup" *ngIf="isShowing.getValue()">
    <div class="closeButton" (click)="toggle()">
        <mat-icon aria-hidden="false" cursor="pointer" aria-label="close button" fontIcon="close"></mat-icon>
    </div>

    <img src="assets/me.jpeg" draggable="false" class="noselect profile-image">
    <h1 class="slideInAnimation noselect">Grant Gupton</h1>

    <app-mobile-nav [isHome]="false"></app-mobile-nav>
</div>