name: Staging Release

on: 
  push:
    branches: [ "develop" ]
    
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v3

    - name: Use Node.js 16
      uses: actions/setup-node@v2
      with:
        node-version: '16'
      
    - name: Build Project
      run: |
        npm install
        npm run build
    
    - name: Sync files to Staging Site
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        server: ${{ vars.staging_server }}
        username: ${{ secrets.staging_username }}
        password: ${{ secrets.staging_password }}
